extends ui_layout

block content
    .computer.only.tablet.only.row
        .five.wide.column
            .ui.segment(style='height:90vh;')
                .ui.relaxed.divided.list
                    .item
                        img.ui.avatar.image(src='public/android-icon-36x36.png')
                        .content
                            .header Person 1
                            |       ...
                        button.ui.icon.right.floated.mini.button
                            i.right.arrow.icon
                    .item
                        img.ui.avatar.image(src='public/android-icon-36x36.png')
                        .content
                            .header Person 2
                            |       ...
                        button.ui.icon.right.floated.mini.button
                            i.right.arrow.icon
                    .item
                        img.ui.avatar.image(src='public/android-icon-36x36.png')
                        .content
                            .header Person 3
                            |       ...
                        button.ui.icon.right.floated.mini.button
                            i.right.arrow.icon
        .eleven.wide.column
            .ui.segment(style='height:90vh;')
                img.ui.left.floated.avatar.image(src='public/android-icon-36x36.png')
                h2.ui.left.floated.header Person
                .ui.clearing.divider
                p

                .ui.grid
                    .row
                        .right.aligned.one.wide.column(style='padding:0!important')
                            img.ui.avatar.image(src='public/android-icon-36x36.png')
                        .seven.wide.column
                            .ui.mini.compact.message
                                p
                                    | Hello
                            p(style='font-size:10px; margin-top:-8px')
                                | 2:18 PM
                    .row
                        .right.floated.right.aligned.seven.wide.column
                            .ui.mini.blue.compact.message
                                p
                                    | Hi
                            p(style='font-size:10px; margin-top:-8px')
                                | 2:19 PM
                    .row
                        .right.aligned.one.wide.column(style='padding:0!important')
                            img.ui.avatar.image(src='public/android-icon-36x36.png')
                        .seven.wide.column
                            .ui.mini.compact.message
                                p
                                    | long message long message long message long message long message long message
                            p(style='font-size:10px; margin-top:-8px')
                                | 2:19 PM
                    .row
                        .right.floated.right.aligned.seven.wide.column
                            .ui.mini.blue.compact.message
                                p
                                    | long message long message long message long message long message long message
                            p(style='font-size:10px; margin-top:-8px')
                                | 2:20 PM
                
                .ui.fluid.icon.input(style='position: absolute; bottom: 10px; left: 50%; transform: translate(-50%, -50%); width:450px;')
                    input(type='text' placeholder='Enter message')
                    i.paper.plane.icon

    .mobile.only.row
        .column
            .ui.segment
                .ui.relaxed.divided.list
                    .item
                        img.ui.avatar.image(src='public/android-icon-36x36.png')
                        .content
                            .header Person 1
                            |       ...
                        button.ui.icon.right.floated.mini.button
                            i.right.arrow.icon
                    .item
                        img.ui.avatar.image(src='public/android-icon-36x36.png')
                        .content
                            .header Person 2
                            |       ...
                        button.ui.icon.right.floated.mini.button
                            i.right.arrow.icon
                    .item
                        img.ui.avatar.image(src='public/android-icon-36x36.png')
                        .content
                            .header Person 3
                            |       ...
                        button.ui.icon.right.floated.mini.button
                            i.right.arrow.icon
    .mobile.only.row
        .column
            .ui.segment(style='height:90vh;')
                img.ui.left.floated.avatar.image(src='public/android-icon-36x36.png')
                h2.ui.left.floated.header Person
                .ui.clearing.divider
                p

                .ui.grid
                    .row
                        .eight.wide.column
                            .ui.mini.compact.message
                                p
                                    | Hello
                            p(style='font-size:10px; margin-top:-8px')
                                | 2:18 PM
                    .row
                        .right.floated.right.aligned.eight.wide.column
                            .ui.mini.blue.compact.message
                                p
                                    | Hi
                            p(style='font-size:10px; margin-top:-8px')
                                | 2:19 PM
                    .row
                        .eight.wide.column
                            .ui.mini.compact.message
                                p
                                    | long message long message long message long message long message long message
                            p(style='font-size:10px; margin-top:-8px')
                                | 2:19 PM
                    .row
                        .right.floated.right.aligned.eight.wide.column
                            .ui.mini.blue.compact.message
                                p
                                    | long message long message long message long message long message long message
                            p(style='font-size:10px; margin-top:-8px')
                                | 2:20 PM
                    
                .ui.fluid.icon.input(style='position: absolute; bottom: 10px; left: 50%; transform: translate(-50%, -50%); width:200px;')
                    input(type='text' placeholder='Enter message')
                    i.paper.plane.icon